#---------------------------------------------------------------------------------------------
# Copyright (c) Gridbox Development SpA. All rights reserved.
# No license available. See README in the project root for license information.
# Gridbox Development Official Website.
#---------------------------------------------------------------------------------------------

# Gridbox Website Base URL
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
